<div class="container">
	<div class="profile center">
		<!--personnal information-->
		<div class="personnal-info center">
			<div class="basic">
				<img src="images/crap.png" class="img-circle">
				<br/>
				<h3 class="name">Dr. Halima</h3>
			</div>

			<div class="status">
				<div class="row">
					<div class="col-md-4 no-gutter">
						<div class="row">
							<div class="col-md-5 col-md-offset-4 no-gutter">
								<span class="gray-font">MEMBER FOR</span>	
							</div>
							<div class="col-md-3 no-gutter">
								<p>5 months </p> 	
							</div>
							
						</div>
					</div>
					<div class="col-md-4 no-gutter">
						<div class="row">
							<div class="col-md-4 col-md-offset-2 no-gutter">
								<span class="gray-font">LAST SEEN</span>
							</div>
							<div class="col-md-6 no-gutter">
								<p>Saturday Afternoon</p>
							</div>							
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-6 col-md-offset-2 no-gutter">
								<span class="gray-font">ACTIVITY LEVEL</span>
							</div>
							<div class="col-md-3 no-gutter">
								<p class="act-level">
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>	
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>				
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end of personnal information-->

		<hr/>
		<!--how started-->
		<div class="how-started center ita-font">
			<h1>How it all started</h1>
		</div>

		<!--where have been-->
		<div class="where-been center">
			<span class="gray-font">that's where we have been these 5 months ago</span>
			<div class="row detail">
				<div class="col-md-2 col-md-offset-2 col-xs-6 col-sm-3">
					<div class="rotate-1 center">
						<span class="no-rotation-1">
							<h4>46</h4>
							<span class="ita-font">peers</span>		
						</span>				
						</div>	
				</div>							
				<div class="col-md-2 col-xs-6 col-sm-3">
					<div class="rotate-2 center">
						<span class="no-rotation-2">
							<h4>29</h4>
							<span class="ita-font">discussions</span>		
						</span>				
					</div>	
				</div>
				<div class="col-md-2 col-xs-6 col-sm-3">
					<div class="rotate-3 center">
						<span class="no-rotation-3">
							<h4>10</h4>
							<span class="ita-font">findings</span>		
						</span>				
					</div>								
				</div>
				<div class="col-md-2 col-xs-6 col-sm-3">
					<div class="rotate-4 center">
						<span class="no-rotation-4">
							<h4>7</h4>
							<span class="ita-font">questions</span>		
						</span>				
					</div>								
				</div>
			</div>				
		</div>

		<!--joined person-->
		<div class="joined-persons center">
			<span class="gray-font">who joined the platform that same period</span>
			<div class="joined-person center">
				<div class="row">
					<div class="col-md-2 col-md-offset-3 col-xs-4 col-sm-2 col-sm-offset-3 small-gutter">
						<div class="avatar">
							<img src="images/crap.png" class="img-circle">
						</div>
						<a>S.E.N. </a>  <!--first name-->
						<br/>
						<a>Waweru</a> <!--last name-->
						
					</div>
					<div class="col-md-2 col-xs-4 col-sm-2 small-gutter">
						<div class="avatar">
							<img src="images/crap.png" class="img-circle">
						</div>
						<a>S.E.N. </a>  <!--first name-->
						<br/>
						<a>Waweru</a> <!--last name-->
						
					</div>
					<div class="col-md-2 col-xs-4 col-sm-2 small-gutter">
						<div class="avatar">
							<img src="images/crap.png" class="img-circle">
						</div>
						<a>S.E.N. </a>  <!--first name-->
						<br/>
						<a>Waweru</a> <!--last name-->
						
					</div>
					
				</div>
				
			</div>
			
		</div>

		<p class="gray-font">the hottest dicussion these days</p>

		<!--hottest dicussion-->
		<div class="hot-discussion">
			<div class="avatar">
				<img src="images/crap.png" class="img-circle">					
			</div>
			<div class="hot-topic">
				<p>
					<a href="">
						Andrew
					</a>
					<span class="gray-font">found the gardian article</span>
				</p>
				<h4 class="ita-font content">
				<a href="">Vagan diet to stop diabetes progress</a>
				</h4>

				<div class="row">
					<div class="col-md-3 col-xs-6 small-gutter">
						6 <span class="ita-font">peers involed</span> 					
					</div>
					<div class="col-md-3 col-xs-6 small-gutter">
						3 <span class="ita-font">related discussion</span>					
					</div>
					<div class="col-md-3 col-xs-6 small-gutter">
						7 <span class="ita-font">conversations</span>						
					</div>
					<div class="col-md-3 col-xs-6 small-gutter">
						2 <span class="ita-font">upvotes</span>						
					</div>
				</div>				
			</div>
			
		</div>

	</div>
</div>