<div ng-controller="QuestionListCtrl">
  <div class="container my-custom-container"> 
    <div class="questions-head">
      <div class="row">
        <div class="col-md-3 small-gutter"><span class="title">QUESTIONS</span></div>
        <div class="col-md-3 col-md-offset-3 center small-gutter">
          <form class="form-inline" >    
              <input type="radio" id="1" name="rad-filter" value="self" checked="true"> My shelf
              <input type="radio" id="2" name="rad-filter" value="alll"> All questions
          </form>
        </div>
        <div class="col-md-3 center small-gutter">
          <span class="ita-font">Sort by:</span> 
          <a href ng-click="order('timestamp')">recent</a> 
          <span class="sortorder" ng-show="predicate === 'timestamp'" ng-class="{reverse:reverse}"></span>
          <span class="ita-font">or</span> 
          <a href ng-click="order('doctor.first_name')">hot</a>
          <span class="sortorder" ng-show="predicate === 'doctor.first_name'" ng-class="{reverse:reverse}"></span>
        </div>
      </div>

    <!--search-->
    <form class="form-horizontal">
    <div class="row form-group">
        <div class="col-md-9 small-gutter">
          <input type="text" class="form-control" placeholder="Search questions" ng-model="query.title">
        </div>
        <div class="col-md-3 small-gutter">
          <button class="btn btn-default form-control" ng-click="search()">SEARCH</button>
        </div>
    </div>
    </form>
    </div>
  </div>

  <div class="questions-main">
  <!--question list-->
    <div class="questions-wrapper">  
      <div class="container my-custom-container">
        <!-- one single question-->
        <div class="question-overview" ng-repeat="question in questions | filter:query |  orderBy:predicate:reverse | limitTo:paginationLimit()">
   
          <div class="row">
            <div class="col-md-9">
              <div class="question-person" ng-controller="ShowModalCtrl"> 
                <a ng-click="show({{question.doctor}})" href>
                  <img ng-src="images/{{question.doctor.avatar}}" class="img-circle" align="left">
                </a>

                <p>  
                  <a class="person-name" ng-click="show()" href> {{question.doctor.first_name}}</a> IS ASKING:
                  <br>
                  <a class="ita-font question-content" ng-click="go()" href>{{question.title}}</a>
                </p>
              </div>

              <div class="question-info">
                <div class="row">
                  <div class="col-md-2 center">
                    <div class="asked center">
                      <hr>
                      ASKED
                    </div>
                  </div>
                  <div class="col-md-2 small-gutter center">
                   <div class="more-activities center ita-font"> 
                    <p>3</p>
                    More activities
                    </div>
                  </div>

                  <div class="col-md-2 small-gutter ">
                    <div class="activities center"> 
                      <p class="center"><img ng-src="images/{{question.doctor.avatar}}" class="img-circle" align="center" /></p>
                      <br>
                      <hr />
                      COMMENTED
                    </div>
                  </div>
                  <div class="col-md-2 small-gutter">
                    <div class="activities center"> 
                      <p class="center"><img ng-src="images/{{question.doctor.avatar}}" class="img-circle" align="center" /></p>
                      <br>
                      <hr />
                      COMMENTED
                    </div>
                  </div>
                  <div class="col-md-2 small-gutter">
                    <div class="activities center"> 
                      <p class="center"><img ng-src="images/{{question.doctor.avatar}}" class="img-circle" align="center" /></p>
                      <br>
                      <hr />
                      COMMENTED
                    </div>
                  </div>
                  <div class="col-md-2 small-gutter">
                    <div class="activities activitity-answer center"> 
                      <p class="center"><img ng-src="images/{{question.doctor.avatar}}" class="img-circle" align="center" /></p>
                      <br>
                      <hr />
                      ANSWERED
                    </div>
                  </div>                                             
                </div>
              </div>
            </div>

            <div class="col-md-3 small-gutter">
              <ul class="relvance">
                <li>1 <span class="ita-font">related discussion</span></li>
                <li>6 <span class="ita-font">peers involved</span></li>
                <li>3 <span class="ita-font">conversions</span></li>
              </ul>
            </div> 
          </div> 

        </div>
        <!--end of one single question-->
        <hr>
        <h4><a href ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Load more questions</a></h4>
      </div>

    </div>
  </div>
    
</div>
