<div class="container my-custom-container"> 
  <div class="question-head">
    <div class="row">
      <div class="col-md-8 small-gutter"><span class="title">QUESTION</span></div>
      <div class="col-md-4 pull-right small-gutter">
        <span class="ita-font">Last time discussed</span> 
        1  
        <span class="ita-font">day ago</span> 
      </div>
    </div>

  </div>
</div>

<div class="questions-main single-question">
  <div class="questions-wrapper">  
    <div class="container my-custom-container">
    	<div class="question">
	    	<div class="row">
	    		
	    	</div>
	    </div>



	  <!--question content-->
	  <div class="question">
	    <div class="row">
	      <div class="col-md-1 no-gutter">
	        <div class="question-person center"> 
	          <img src="images/little_animal.png" class="img-circle">
	        </div>      		
	      </div>
	      <div class="col-md-11">   		
	      	<div class="question-title">
	      	  <table>
	      	  	<tr>
	      	  	  <td width="80%">
		            <a class="person-name">Eva</a> IS ASKING:
		            <br/>
		            <a class="ita-font question-content">Will inlulin make my patient gain weight?</a>
	              </td>
	              <td class="center">
	                unfollow
	              </td>
	            </tr>
	          </table>
	        </div> 

	        <div class="question-detail">
	          <table>
	      	  	<tr>
	      	  	  <td width="80%">
		           	That means that the sub columns will each be a “3” column. But, that 3 column width will not be the same as a standalone 3 column since it is a percentage of another percentage. It’s kind of hard to explain, but the below image should illustrate the problem. (view demo)
		          </td>
		          <td class="center">
		          	19 <span class="ita-font">upvotes</span>
		          </td>

		          <td>
		            <div class="vote">
		          	  <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
		          	  <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
		          	</div>
		          </td>
		        </tr>
		      </table>

	          <div class="btn-give-answer">
	      		  <button type="button" class="btn btn-default form-control">GIVE new answer</button>
	      	  </div>
	        </div>
	      </div>

	      </div>
	    </div>
	    <!--end of question content-->

	    <div class="answer-count center">
	    	2 <span class="ita-font">peers already answered Eva</span>
	    </div>

	    <div class="single-comment">
				<!--comment-->
			    <div class="main-comment">
			      <div class="row">
			      	<div class="col-md-1 no-gutter">
			            <div class="question-person center"> 
			              <img src="images/little_animal.png" class="img-circle">
			            </div>      		
			      	</div>
			      	<div class="col-md-11">   		
			      	  <div class="comment-detail">
			            <a class="person-name">Patricia</a> COMMENTED IT &#183; 
			            <span class="ita-font">yesterday</span>
			            <table>
			              <tr>
			              	<td width="80%"> 
			              	  <span class="comment-content">
			              	  Numbers or tingling of your feel should be reported to you doctor at your regular visits.
			              	  </span>
			              	</td>
			              	<td class="center"> 8 <span class="ita-font">upvotes</span></td>
			              	<td>
			              	  <div class="vote">
				          	    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				          	    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				          	  </div>
			              	</td>
			              </tr>
			            </table>
			          </div> 
			      	</div>
			      </div>	
			    </div>    	
			    <!--end of comment-->

			    <!--nested comment here-->
			    <div class="nested-comment">
				    <!--comment-->
				    <div class="main-comment">
				      <div class="row">	      	
				      	<div class="col-md-1 no-gutter">
				          <div class="question-person center"> 
				            <img src="images/little_animal.png" class="img-circle">
				          </div>      		
				      	</div>
				      	<div class="col-md-11">   		
				      	  <div class="comment-detail">
				            <a class="person-name">Patricia</a> COMMENTED IT &#183; 
				            <span class="ita-font">yesterday</span>
				            <table>
				              <tr>
				              	<td width="80%"> 
				              	  <span class="comment-content">
				              	  Numbers or tingling of your feel should be reported to you doctor at your regular visits.
				              	  </span>
				              	</td>
				              	<td class="center"> 8 <span class="ita-font">upvotes</span></td>
				              	<td>
				              	  <div class="vote">
					          	    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
					          	    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
					          	  </div>
				              	</td>
				              </tr>
				            </table>
				            <!--continue discussion button-->
				            <div class="btn-con-discussion">
	      		  				<button type="button" class="btn btn-default form-control">CONTINUE discussion</button>
	      	  		  		</div>
				          </div> 
				      	</div>
				      </div>	    	
				    </div>
				    <!--end of comment-->				    
				</div>
				<!--end of nested comment-->	    		
			</div>			    		

			<div class="single-comment">
				<!--comment-->
			    <div class="main-comment">
			      <div class="row">
			      	<div class="col-md-1 no-gutter">
			            <div class="question-person center"> 
			              <img src="images/little_animal.png" class="img-circle">
			            </div>      		
			      	</div>
			      	<div class="col-md-11">   		
			      	  <div class="comment-detail">
			            <a class="person-name">Patricia</a> COMMENTED IT &#183; 
			            <span class="ita-font">yesterday</span>
			            <table>
			              <tr>
			              	<td width="80%"> 
			              	  <span class="comment-content">
			              	  Numbers or tingling of your feel should be reported to you doctor at your regular visits.
			              	  </span>
			              	</td>
			              	<td class="center"> 8 <span class="ita-font">upvotes</span></td>
			              	<td>
			              	  <div class="vote">
				          	    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
				          	    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				          	  </div>
			              	</td>
			              </tr>
			            </table>
			            <div class="btn-comment">
	      		    	<button type="button" class="btn btn-default form-control">COMMENT</button>
	      	      		</div>
			          </div> 
			      	</div>
			      </div>
	
			    </div>    	
			    <!--end of comment-->	    		
			</div>			

  </div>
</div>
  
